/FmodAudioSystem.Lib/FmodAudioSystem/obj
/FmodAudioSystem.Lib/FmodAudioSystemEditor/obj
/FmodAudioSystem.UnityTest.Lib/Library
/FmodAudioSystem.UnityTest.SourceCode/Library
/FmodAudioSystem.Lib/FmodAudioSystemEditor/bin/Debug
/FmodAudioSystem.Lib/FmodAudioSystem/bin/Debug
/FmodAudioSystem.UnityTest.Lib/ProjectSettings/ProjectVersion.txt
/FmodAudioSystem.UnityTest.SourceCode/ProjectSettings/ProjectVersion.txt
/FmodAudioSystem.UnityTest.SourceCode/FmodAudioSystem.UnityTest.SourceCode.v12.suo
/FmodAudioSystem.UnityTest.SourceCode/Temp
